.text{
    font-size : 20px;
font-family : 'gulim';
color : red;
letter-spacing : -1px;
text-align : center;
font-weight : 600;
}

.left-box {
    width : 60vh; 
    height : 10vh;
    background-color: blue;
    float : left;
  }
  .right-box {
    width : 20vh; 
    height : 10vh;
    background-color: red;
    float : left;
  }